.span-18.last
  %h2 Dashboard
  %hr
  .span-9
    %h3 Pools 
    .pools
      = render :partial => "pool", :collection => @pools
  .span-9.last
    Not enough, ahem, activity? Go ahead and
    = link_to 'start another pool', new_pool_path, :class => "small-button"
    %br
    %br
    %h3 Activity
    .activities