%h2 Entries
.span-16
  %h3 Ghouls
  .ghouls
    %ul
    - @entries.each do |entry|
      %li
        = link_to entry.ghoul.name, entry.ghoul
.span-8
  = link_to 'Add Ghoul', new_pool_entry_path(@pool)