body { background: #F2F2F2; }
#header h1 { overflow: hidden; text-indent: -9999px; background: url("../images/logo.png") center top no-repeat; height: 150px; margin: 30px 0pt; }
#primary-navigation ul { float: right; margin: 10px 0pt 0pt 0pt; }
#primary-navigation ul li { display: inline; list-style-type: none; padding: 0pt 5px 0pt 5px; }
#primary-navigation ul li a { color: #D95959; font-weight: bold; text-decoration: none; }
#primary-navigation ul li a:hover { text-decoration: underline; }
#content h2 { color: #303030; font-family: "orgovan-rounded-web-1","orgovan-rounded-web-2"; }