.prepend-2.span-14.append-2
  %h2 The simplest and prettiest way to manage your death pools
  %p
    Ghoul Pool makes managing your pools dead simple.
    No more spreadsheets.
    No more wasting time trying to organize and stay on top of your picks.
    With our patent-pending, Freebase powered, formally named, Automatic Celebrity Death Tracker or ACDT, you'll never miss an update again.
    What about keeping score?
    Ghoul Pool allows you to structure any scoring scheme, from the basic to the complex; call us eccentric but without the ability to apply obscure ranking algorithms for our pools, it just didn't feel complete.
  %p
    Ghoul Pool is currently a private application.
    While there are no immediate plans to open this to the public, this is the internet, and crazier things have happened.
    