.span-10
  %h3 Find interesting repositories
  %p
    Need help finding cool Github repositories to work on?
    Git Hacking enables maintainers to add metadata to their projects.
    Using this metadata, we find active repositories that are interesting to you, faster.
.span-10.last
  %h3 Find interesting repositories
  %p
    Need help finding cool Github repositories to work on?
    Git Hacking enables maintainers to add metadata to their projects.
    Using this metadata, we find active repositories that are interesting to you, faster.